body{
    color: rgb(24, 75, 218);
    background: rgb(214, 240, 248);
    margin: 0px;
    font-family: "Josefin Sans", sans-serif;
}

header{
    border-bottom: solid 2px white;
    padding: 20px;
    font-size: 32px;
    color: rgb(8, 171, 192);
}

section{
    background: rgb(214, 240, 248);
    padding-top: 80px;
    padding-bottom: 80px;
    display: flex;
    justify-content: center;
}
.chamada-texto{
     margin-right: 5%;
}

h1{
    font-size: 40px;
}
p{
    font-size: 40px;
}

img{
    height: 200px;
}
.categoria-videos{
    display: flex; 
    overflow-x: auto;
    gap: 10px;
}